<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS Tutorials</title>
    <link href="styles.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="vue-app">
        <h1>{{greet('night')}}</h1>
        <a v-bind:href="website"> VueJs</a>
        <input type="text" v-bind-value="job"> VueJs</input>
        <p v-html="websiteTag"></p>
        <p v-if="seen">Now you see me</p>
    </div>

    <div id="vue-app-events">
        <h1>{{greet('night')}}</h1>
        <a v-bind:href="website"> VueJs</a>
        <input type="text" v-bind-value="job"> VueJs</input>
        <p v-html="websiteTag"></p>
        <p v-if="seen">Now you see me</p>
    </div>

    <script src="app.js"></script>
</body>
</html>